@CHARSET "UTF-8";
#container {
    width:56%;
}

#sankasha_container{	
	width:20%;
	margin-left:5px;
	margin-right:auto;
	text-align:left;
}

#sankasha_name {
 width:60%;
 float:left;
}

#sankasha_alive {
 width:39%;
 float:left;
}

#boxD {
 width:100%;
 clear:both;
}